.hero {
    &__container {
        position: relative;

        display: flex;
    }

    &__img {
        position: relative;
        position: absolute;
        top: 0;
        left: 0;

        overflow: hidden;

        width: 100%;
        max-width: 1200px;
        height: 100%;
        margin: 0 15px;

        border-radius: 50px;

        img {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            object-fit: cover;
        }
    }

    &__content {
        max-width: 500px;
        padding-top: 208px;
        padding-bottom: 208px;
        padding-left: 58px;
    }

    &__btn {
        position: relative;
        z-index: 2;
    }
}
